
<h1> Create New Movie </h1>

= form_tag movies_path do

  <label for="movie_title">Title</label>
  <input id="movie_title" name="movie[title]" size="30" type="text" />


  = label :movie, :rating, 'Rating'
  = select :movie, :rating, ['G','PG','PG-13','R','NC-17']

  = label :movie, :release_date, 'Released On'
  = date_select :movie, :release_date

  = submit_tag 'Save Changes'

